services:
  db:
    image: postgres:15
    restart: always
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      # initフォルダ内のSQLをコンテナ起動時に自動実行
      - ./init:/docker-entrypoint-initdb.d